* {
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}

body {
  position: relative;
  background: #e3e6ff;
}

header {
  background-color: #328464;
  color: white;
}

h1 {
  margin-left: 25px;
}

h2 {
  margin-left: 50px; 
  color: #328464; 
}

h3 {
  margin-left: 50px;
}

.create-pet, .view-pet {
  margin-left: 50px; 
}

.welcome {
  padding: 20px;
  margin-top: 20px;  
  font-size: 20px; 
}

.petLinks {
  display: block; 
}

.dino-form {
  padding: 20px;
}

.create-another-pet {
  margin-top: 20px;
}

.individual-pet-form {
  border: 2px dotted #328464;
  border-radius: 5px;
  width: 200px;
}

.image {
  margin-left: 15%;
}

.button {
  display: inline-block;
  padding: 20px;
  border: none;
  background-color: #328464;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 25px;
  margin-left: 50px;
}

.delete {
  background-color: #73172d;
}


.sentence {
  margin-top: 25px;
  font-size: 20px; 
}

.hidden {
  display: none;
}

form {
  font-size: 24px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #ffffff;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

input:checked {
  border: 8px solid #5daf8d;
}

.pet {
  padding: 20px;
}

label {
  display: block;
}